@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --accent-color: gold;

    --first-color: #7ed56f;
    --second-color: #28b485;
    --button-color: #55c57a;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Comfortaa;
}

/* div */

.main {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.header, .header-city, .header-information, .break, .favourites, .favourites-add-city, .city, .city-information, .add-loader-wrapper {
    flex: 1 100%;
}

.header-city, .header-information, .favourites, .favourites-add-city, .city, .city-list, .city-information, .city-information-list, .city-item {
    min-width: 280px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
    height: 70px;
}

.header-city {
    background-color: #ffffff;
    height: 300px;

    text-align: left;
}

.header-city-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.header-information {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    height: 300px;
}

.favourites {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
    height: 60px;
}

.favourites-add-city {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
    height: 60px;
    margin: 0px;
}

.city {
    background-color: #ffffff;
    height: 300px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city-information {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;
    width: 100%;
}

.break {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    padding: 0;
}

/* header */

h1 {
    font-size: 35px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 21px;
    margin-left: 5px;
}

/* img */

.img-header-city {
    width: 120px;
    height: 120px;
    float: left;
}

.img-city-weather {
    width: 60px;
    height: 60px;
}

/* button */

button {
    color: white;
    border: none;
    font-family: inherit;
}

.refresh-big {
    color: #fff;
    background-color: var(--button-color);
    padding: 8px 30px;
    font-size: 20px;
    border-radius: 5px;
}

.refresh-small {
    background-color: var(--button-color);
    padding: 8px;
}

.refresh-small img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.round {
    background-color: var(--button-color);
    border-radius: 50%;
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

/* input */

.add-new-city {
    width: 180px;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 5px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    flex: 1;
}

/* ul li */

.city-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

.city-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    height: 300px;
    margin-top: 50px;
    padding: 0;
    flex: 1 50%;
}

.city-information-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.city-information-list li {
    background: linear-gradient(to right, var(--first-color), var(--second-color));
    color: white;
    padding: 8px;
    margin: 2px;
    font-size: 16px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
}

/* p */

ul li > span:nth-child(1) {
    font-weight: bold;
}

.temperature-header-city {
    font-size: 70px;
}

.temperature-city-information {
    font-size: 21px;
}

@media all and (min-width: 576px) {

    .header-city, .header-information, .favourites, .favourites-add-city, .city, .city-list {
        flex: 1;
    }

    .refresh-small {
        display: none;
    }
}

@media all and (min-width: 576px) {
    .city-item {
        max-width: 50%;
    }
}

@media all and (max-width: 576px) {

    .refresh-big {
        display: none;
    }

}

@media all and (max-width: 576px) {
    .temperature-header-city {
        font-size: 50px;
    }

    .img-header-city {
        width: 90px;
        height: 90px;
        float: left;
    }

    .city-information li {
        font-size: 14px;
    }

    h3 {
        font-size: 20px;
    }

    .temperature-city-information {
        font-size: 20px;
    }

    .img-city-weather {
        width: 45px;
        height: 45px;
    }

    .round {
        width: 40px;
        height: 40px;
    }

}

/* loader */

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #4cc81f; /* Blue */
    border-radius: 50%;
    width: 140px;
    height: 140px;
    animation: spin 2s linear infinite;
}

.loader-wrapper {
    padding: 20px;
}

.main-loader {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




