:root {
    --main-color: #8b0fe3;
    --button-color: #0073ff;
}

* {
    box-sizing: border-box;
    font-family: Futura;
}

/*body {*/
/*    background: linear-gradient(#0073ff, #8800ff);*/
/*}*/

/*div {*/
/*    border: 1px solid black;*/
/*}*/

.parent > div:nth-child(odd) {
    background-color: #ffffff;
}

.parent > div:nth-child(even) {
    background-color: #ffffff;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}

.top {
    background-color: #ffffff;
    width: 82vw;
    margin-left: 2vw;
    height: 10vh;
}

.parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.child {
    width: 40vw;
    margin-left: 2vw;
}

.big {
    height: 40vh;
}

.small {
    height: 10vh;
}

h1 {
    display: inline;
    font-size: 30px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
    vertical-align: center;
}

h4 {
    font-size: 30px;
}

.refresh {
    margin-left: 30%;
}

.img-big {
    width: 250px;
    height: 250px;
    float: left;
}

.temperature-big {
    font-size: 120px;
    text-align: center;
}

ul {
    width: 100%;
    height: 80%;
    padding: 0;
    flex: 2;
}

ul li {
    width: 100%;
    padding: 2px 8px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
}

ul li > p:nth-child(1) {
    font-weight: bold;
}

button {
    color: white;
    border: none;
}

.refresh {
    background-color: var(--button-color);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
}

.search {
    background-color: var(--button-color);
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 50px;
    height: 60px;
}

.add {
    background-color: var(--button-color);
    border-radius: 50%;
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.div-favourites {
    vertical-align: middle;
}

.div-add-another-city {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.div-city {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.img-city {
    width: 80px;
    height: 80px;
}

.temperature-city {
    font-size: 30px;
}

@media screen and (max-width: 320px) {

    .parent {
        display: block;
    }

    .child {
        width: 80vw;
        margin-left: 2vw;
    }
}